/* typography */

@font-face {
    font-family: 'Andy Pro';
    src: url('/fonts/AndyBold.OTF') format('opentype'),
         url('/fonts/AndyRegular.OTF') format('opentype');
}

$font: 'Andy Pro', sans-serif;

// body font styling vars
$body-font-size: 120%;
$body-font-weight: 350;
$body-italic-weight: 100;

// display font styling vars
$display-font: $font;
$display-weight: 900;
$display-spacing: 0.15em;
$display-title-size: 4rem;
